bodyy {
  background: #f3f3f3;
  color: #252525;
  line-height: 1.5;
  font-family: Georgia, serif;
}

h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.1;
  font-weight: 900;
  color: #57577a;
  padding-bottom: .5rem;
}

h1,
h2,
h3,
p, a{
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}
h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 3rem;
  --fluid-type-target: 5vw;

  max-width: 15ch;
}

h2 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2rem;
}

h3 {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.5rem;
}

h2,
h3 {
  max-width: 30ch;
}

p {
  max-width: 60ch;
}

.menu-toc {
    z-index: 1;
        padding: 1rem;
        background-color: #fdfdfd;
        border-radius: 2px;
     box-shadow: 0 1px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.15);
     margin-bottom: 1rem;
 }

.menu-toc ul {
    margin-left: 0;
    list-style: none;
    padding-inline-start: 0;

}

.menu-toc>ul {

}

.menu-toc>ul>li>ul>li>a {
font-weight: 600;
}


.menu-toc ul ul ul{
 padding-left: 1rem;
 list-style-type: "- "
}

.menu-toc a {
    color: black;
  }
.menu-toc a:not(:hover){
  text-decoration: none;

}

@media (min-width: 64em){
    .menu-toc {
        position: absolute;
        padding: 1rem;
        margin-top: 4rem;
        width: 13rem;
    }
    .menu-toc summary {
        display: none;
    }
    .menu-toc>ul {
    margin: 0;
    }

    .layout {
        max-width: 1000px;
    }
    .content {
    padding: 2rem 2rem 2rem 15rem;
    }
}

.layout {
max-width: 90vw;
margin-left: auto;
margin-right: auto;
}


table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

nav{
   display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 6rem;
    background-color: #f5f5f5;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-inline-start: 0;
}
nav ul li{
    padding: .5rem;
}
nav a {
    display: flex;
    align-items: center;
    color: #222222;
    text-decoration-thickness: 1px;
}

nav a:not(:hover){
  text-decoration: none;
}

.nav-list-items {
    margin: 2px;
  --fluid-type-min: 1.25rem;
  --fluid-type-max: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.1;
  font-weight: 600;
  color: #57577a;

}

.logo {
    margin: .5rem;
    max-height: 2rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: 300;
    color: #222222;
    padding: 0px;
}

.direct-link {
font-weight: 300;
text-decoration: none;
}

.direct-link:not(:hover){
    opacity: .2;
}
