<nav>
<a href="{{'/' | url}}"><img class="logo" src="{{'/img/logo.png' | url}}" alt="GX680 Logo"> <h1 class="logo-text">Open<strong>GX680</strong></h1></a>
    <ul class="nav-list">
            <li class="nav-list-items"><a href="https://github.com/sidrichmill/gx680">Github</a></li>
            </ul>
</nav>
